In [1]:
import numpy as np

In [6]:
## Define a numpy array passing a list with  1,2 and 3 as elements in it
a = np.array([1,2,3])

In [8]:
a

array([1, 2, 3])

In [41]:
a = np.array(10)
b = np.array([1,2,3])
c = np.array([[1,2,3],[4,5,6]])
d = np.array([[[1,2,3],[4,5,6],[1,2,3],[4,5,6]]])

In [42]:
#print dimentions of a,b, c and d
print ('a dimensation:',a.ndim)
print ('b dimensation:',b.ndim)
print ('c dimensation:',c.ndim)
print ('d dimensation:',d.ndim)

a dimensation: 0
b dimensation: 1
c dimensation: 2
d dimensation: 3

In [43]:
# print shape of each a,b ,c and d
print('shape of a:',a.shape)
print('shape of b:',b.shape)
print('shape of c:',c.shape)
print('shape of d:',d.shape)

shape of a: ()
shape of b: (3,)
shape of c: (2, 3)
shape of d: (1, 4, 3)

In [44]:
# print data type of c and d
print(c.dtype)
print(d.dtype)

int32
int32

In [46]:
#print type of a and b variable
print(type(a))
print(type(b))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [47]:
# Lets check length of array b, using len() function
len(b)

3

In [48]:
#Create two list l1 and l2 where, l1=[10,20,30] and l2=[40,50,60] 
#Also define two numpy arrays l3,l4 where l3 has l1 as element and l4 has l2 as element
l1=[10,20,30]
l2=[40,50,60]
l3=np.array(l1)
l4=np.array(l2)

In [52]:
%timeit l3*l4

598 ns ± 11.4 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [55]:
#Create a numpy array using arange with 1 and 11 as parameter in it
a = np.arange(1,11)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [57]:
# Create an array using arange passing 1,11 and 2 as parameter in iter
a= np.arange(1,11,2)
a

array([1, 3, 5, 7, 9])

In [3]:
# create numpy array using eye function with 3 as passed parameter
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
#create a numpy array using zero function with (3,2) as passed parameter
a = (3,2)
np.zeros(a)

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [6]:
#create a numpy array using ones function with (3,2) as passed parameter
a=(3,2)
np.ones(a)

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [9]:
#create a numpy array using full function with (3,2) and 2 as passed parameter
np.full((3,2),(2))

array([[2, 2],
       [2, 2],
       [2, 2]])

In [10]:
#create a numpy array using diag function passing a list [1,2,3,4,5]
np.diag([1,2,3,4,5])

array([[1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0],
       [0, 0, 0, 0, 5]])

In [13]:
#create a numpy array v using diag function passing a list [1,2,3,4,5]
v=([1,2,3])

In [14]:
#Use tile function of numpy and pass v and (3,1) as its parametrs
np.tile(v,(3,1))

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [16]:
# Create an array with 100 values between 1 and 50 using linspace
np.linspace(1,50,100)

array([ 1.        ,  1.49494949,  1.98989899,  2.48484848,  2.97979798,
        3.47474747,  3.96969697,  4.46464646,  4.95959596,  5.45454545,
        5.94949495,  6.44444444,  6.93939394,  7.43434343,  7.92929293,
        8.42424242,  8.91919192,  9.41414141,  9.90909091, 10.4040404 ,
       10.8989899 , 11.39393939, 11.88888889, 12.38383838, 12.87878788,
       13.37373737, 13.86868687, 14.36363636, 14.85858586, 15.35353535,
       15.84848485, 16.34343434, 16.83838384, 17.33333333, 17.82828283,
       18.32323232, 18.81818182, 19.31313131, 19.80808081, 20.3030303 ,
       20.7979798 , 21.29292929, 21.78787879, 22.28282828, 22.77777778,
       23.27272727, 23.76767677, 24.26262626, 24.75757576, 25.25252525,
       25.74747475, 26.24242424, 26.73737374, 27.23232323, 27.72727273,
       28.22222222, 28.71717172, 29.21212121, 29.70707071, 30.2020202 ,
       30.6969697 , 31.19191919, 31.68686869, 32.18181818, 32.67676768,
       33.17171717, 33.66666667, 34.16161616, 34.65656566, 35.15151515,
       35.64646465, 36.14141414, 36.63636364, 37.13131313, 37.62626263,
       38.12121212, 38.61616162, 39.11111111, 39.60606061, 40.1010101 ,
       40.5959596 , 41.09090909, 41.58585859, 42.08080808, 42.57575758,
       43.07070707, 43.56565657, 44.06060606, 44.55555556, 45.05050505,
       45.54545455, 46.04040404, 46.53535354, 47.03030303, 47.52525253,
       48.02020202, 48.51515152, 49.01010101, 49.50505051, 50.        ])

In [34]:
# Generate one random number between 0 and 1 using numpy's random.rand() function
import random
l=np.random.rand()
l

0.9889459414373064

In [41]:
# so let say I want a random value between 2 and 50
a = np.random.randint(2,50)
a

36

In [42]:
#get an array as stated [Now lets create an array with random numbers 0 to 1 of shape 3X3]

l = np.random.rand(3,3)
l

array([[0.70343446, 0.67529673, 0.20585475],
       [0.56516164, 0.67590404, 0.16161593],
       [0.22697622, 0.17228191, 0.97027688]])

In [45]:
# Using arange() to generate numpy array x with numbers between 1 to 16
x = np.arange(1,17)

In [46]:
# Reshape x with 2 rows and 8 columns
x.reshape(2,8)

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16]])

In [48]:
# reshape x with dimension that will have 2 arrays that contains 4 arrays, each with 2 elements:
x.reshape(2,4,2)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12],
        [13, 14],
        [15, 16]]])

In [49]:
# Use unknown dimention to reshape x into 2-D numpy array with shape 4*4
x.reshape(4,-1)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [50]:
# Use unknown dimention to  reshape x into 3-D numpy array with 2 arrays that contains 4 arrays
x.reshape(2,4,-1)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12],
        [13, 14],
        [15, 16]]])

In [51]:
# Flattening x
x.reshape(-1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [54]:
# Create an array a with all even numbers between 1 to 17
a=np.arange(2,17,2)
a

array([ 2,  4,  6,  8, 10, 12, 14, 16])

In [60]:
# Get second element in array a
print(a[2])

#Print 2rd, 5th, and 7th element in array a
print(a[2:8:2])

6
[ 6 10 14]

In [71]:
# Define an array 2-D a with [[1,2,3],[4,5,6],[7,8,9]] as its elements.
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [74]:
# print the 3rd element from the 3rd row of a
a[2,2]

9

In [82]:
# Define an array b again with [[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]] as its elements.
b = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(b)

# Print 3rd element from 2nd list which is 1st list in nested list passed
b[0,1,2]

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

6

In [86]:
# Print the second last element from the 2nd dim using negative indexing
b[0,-1,1]

5

In [87]:
a=np.arange(1,11)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [91]:
# Slice elements from 1st to 5th element from the following array:
a[0:5]

array([1, 2, 3, 4, 5])

In [93]:
# Slice elements from index 5 to the end of the array:
a[5:]

array([ 6,  7,  8,  9, 10])

In [94]:
# Slice from the index 3 from the end to index 1 from the end:
a[-3:-1]

array([8, 9])

In [95]:
# Print every other element from index 1 to index 7
a[1:7:2]

array([2, 4, 6])

In [96]:
# Return every other element from the entire array
a[::2]

array([1, 3, 5, 7, 9])

In [101]:
# Print array a
a= np.array([[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [106]:
# From the third element, slice elements from index 1 to index 5 (not included) from array
a[2, 1:5]

array([8, 9])

In [111]:
# In array 'a' print index 2 from all the elements :
a[0:3,2]

array([3, 6, 9])

In [114]:
# From all the elements in 'a', slice index 1 till end, this will return a 2-D array:
a[0:3,1:3]

array([[2, 3],
       [5, 6],
       [8, 9]])

In [115]:
x1=np.arange(10)

In [116]:
x2=x1

In [117]:
print(x1)
print(x2)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4 5 6 7 8 9]

In [118]:
x2[0] = 10

In [119]:
print(x1)
print(x2)

[10  1  2  3  4  5  6  7  8  9]
[10  1  2  3  4  5  6  7  8  9]

In [120]:
#view
x3=x1.view()

In [121]:
x3[0]=100

In [122]:
print(x1)
print(x3)

[100   1   2   3   4   5   6   7   8   9]
[100   1   2   3   4   5   6   7   8   9]

In [123]:
np.shares_memory(x1,x3)

True

In [18]:
#copy
x1 =np.arange(10)

In [19]:
x4=x1.copy()

In [20]:
x4[9]=900
print(x4)

[  0   1   2   3   4   5   6   7   8 900]

In [21]:
print(x1)

[0 1 2 3 4 5 6 7 8 9]

In [8]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
# Check if every element in array a greater than 3 or not Using '>' notation
a>3

array([[False, False, False],
       [ True,  True,  True],
       [ True,  True,  True]])

In [10]:
# Get a list with all elements of array 'a' grater than 3
a[a>3]

array([4, 5, 6, 7, 8, 9])

In [12]:
# Get a list with all elements of array 'a' greater than 3 but less than 6
a[(a>3) & (a<6)]

array([4, 5])

In [14]:
# Print Transpose of array 'a'
print(a.T)

[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [16]:
#print array 'a'
print("-----------------")
print(a)

-----------------
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [22]:
# stack x1 and x4 along columns.
np.vstack((x1,x4))

array([[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9],
       [  0,   1,   2,   3,   4,   5,   6,   7,   8, 900]])

In [23]:
#stack x1 and x4 along rows
np.hstack((x1,x4))

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,   0,   1,   2,
         3,   4,   5,   6,   7,   8, 900])

In [24]:
arr1=([[1,2],[3,4]])
arr2=([[5,6],[7,8]])

In [25]:
##join arr1 and arr2 along rows using concatenate() function
np.concatenate((arr1,arr2), axis=1)

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [26]:
##join arr1 and arr2 along columns using concatenate() function
np.concatenate((arr1,arr2), axis=0)

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [27]:
np.append(arr1,arr2)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [28]:
# Inserts values into array x1 before index 4 with elements of x4
np.insert(x1,4,x4)

array([  0,   1,   2,   3,   0,   1,   2,   3,   4,   5,   6,   7,   8,
       900,   4,   5,   6,   7,   8,   9])

In [29]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [31]:
# print trigonometric sin value of each element of a
np.sin(a)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [-0.7568025 , -0.95892427, -0.2794155 ],
       [ 0.6569866 ,  0.98935825,  0.41211849]])

In [32]:
# print trigonometric cos value of each element of a
np.cos(a)

array([[ 0.54030231, -0.41614684, -0.9899925 ],
       [-0.65364362,  0.28366219,  0.96017029],
       [ 0.75390225, -0.14550003, -0.91113026]])

In [33]:
# Print exponential value of each elements of a
np.exp(a)

array([[2.71828183e+00, 7.38905610e+00, 2.00855369e+01],
       [5.45981500e+01, 1.48413159e+02, 4.03428793e+02],
       [1.09663316e+03, 2.98095799e+03, 8.10308393e+03]])

In [34]:
# print total sum of elements of a
np.sum(a)

45

In [35]:
# Print sum in array a column wise
a.sum(axis=1)

array([ 6, 15, 24])

In [36]:
# Print sum in array a row wise
a.sum(axis=0)

array([12, 15, 18])

In [39]:
# print median of array a
np.median(a)

5.0

In [40]:
# print standard deviation of array a
a.std()

2.581988897471611

In [41]:
# print the determinant of array a
np.linalg.det(a)

-9.51619735392994e-16

In [43]:
# print the (multiplicative) inverse of array a
np.linalg.inv(a)

array([[ 3.15251974e+15, -6.30503948e+15,  3.15251974e+15],
       [-6.30503948e+15,  1.26100790e+16, -6.30503948e+15],
       [ 3.15251974e+15, -6.30503948e+15,  3.15251974e+15]])

In [44]:
# Print the eigenvalues and right eigenvectors of array a.
np.linalg.eig(a)

(array([ 1.61168440e+01, -1.11684397e+00, -3.38433605e-16]),
 array([[-0.23197069, -0.78583024,  0.40824829],
        [-0.52532209, -0.08675134, -0.81649658],
        [-0.8186735 ,  0.61232756,  0.40824829]]))

In [45]:
# compute dot product of arr1 and arr2
np.dot(arr1,arr2)

array([[19, 22],
       [43, 50]])

In [46]:
#print largest element present in array a
a.max()

9

In [47]:
#print index of largest element present in array a
a.argmax()

8

In [48]:
# print sorted x4 array
np.sort(x4)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8, 900])

In [49]:
# print indices of each sorted element in x4 array
np.argsort(x4)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [50]:
# print the indexes where the value is 4 in array x1
np.where(x1==4)

(array([4], dtype=int64),)

In [51]:
# Print the indexes where the values are even in array x1
np.where(x1%2 == 0)

(array([0, 2, 4, 6, 8], dtype=int64),)

In [52]:
# Print x1 where x1 is greater than 5, also if number is less than 5 then replace it with 0
np.where(x1>5,x1,0)

array([0, 0, 0, 0, 0, 0, 6, 7, 8, 9])